* {
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
}

.navbar {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #dbdbdb;
    width: 244px;
    height: 965px;
}

.logo {
    width: 220px;
    height: 92px;
}

.logo-img {
    background-image: url(/picture/Screenshot\ 2565-12-06\ at\ 14.47.21.png);
    width: 196px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: 120px 38px;
    margin: 34px 12px 35px 18px;
}

.navigator {
    width: 220px;
    height: 781px;
}

.lg-size {
    width: 25.2px;
    height: 25.2px;
    margin: 0 10px 0 15px;
}

.txt-size {
    font-weight: 500;
    font-size: 16px;
}

.nav-mar {
    margin: 3px 0px;
    padding: 12px;
    height: 64px;
    width: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 12px;
}

.more {
    width: 220px;
    height: 64px;
}

.main {
    width: 1421px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.newpost {
    width: 1069px;
    height: 36px;
    margin-top: 8px;
}

.content {
    width: 472px;
    height: 100vh;
    margin-right: 32px;
}

.sidebar {
    width: 319px;
    height: 715px;
}

.story {
    width: 470px;
    height: 85px;
    background-color: blue;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-content: center;
    align-items: center;
}

.circle {
    width: 66px;
    height: 66px;
    background-color: yellow;
    margin: 0 10px;
}