* {
    margin: 0;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #fafafa;
}

main {
    display: flex;
}

.left {
    background-image: url(https://static.cdninstagram.com/rsrc.php/v3/y4/r/ItTndlZM2n2.png);
    width: 380.317px;
    height: 581.15px;
    background-repeat: no-repeat;
    background-size: 468.32px 634.15px;
    background-position: -46px 0;
    margin-right: 30px;
}

.left > img {
    width: 250px;
    margin: 25px 0px 0px 112px;
}

.right {
    width: 350px;
    height: 755;
}

.login {
    width: 350px;
    height: 399px;
    background-color: #ffffff;
    border: 2px solid #ededed;
    border-radius: 1px;
}