* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100%;
    width: 100%;
    background-color: #fafafa;
    height: 100vh;
    padding-top: 23px;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.left {
    background-image: url(https://static.cdninstagram.com/rsrc.php/v3/y4/r/ItTndlZM2n2.png);
    width: 380.317px;
    height: 581.15px;
    background-repeat: no-repeat;
    background-size: 468.32px 634.15px;
    background-position: -46px 0;
    margin-right: 30px;
}

.left > img {
    width: 250px;
    margin: 25px 0px 0px 112px;
}

/* style right */

.right {
    margin-top: 23px;
    width: 350px;
    height: 755;
}

.login {
    width: 350px;
    height: 399px;
    background-color: #ffffff;
    border: 2px solid #ededed;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 100%;
    margin: 0 0 10px;
    padding: 10px 0;
    justify-items: center;
    align-items: center;
}

.logo-img {
    background-image: url(https://static.cdninstagram.com/rsrc.php/v3/y1/r/XgiuS2Esj4y.png);
    width: 175px;
    height: 51px;
    background-repeat: no-repeat;
    background-position: 0px -502px;
    background-size: 347px 606px;
    margin: 30px auto;
    padding-top: 10px;
}

.username {
    background-color: #fafafa;
    border: 1px solid #eaeaea;
    border-radius: 1px;
    margin-bottom: 6px;
    width: 260px;
    height: 34px;
}

.password {
    background-color: #fafafa;
    border: 1px solid #eaeaea;
    border-radius: 1px;
    width: 260px;
    height: 34px;
    margin-bottom: 13px;

}

.button-login {
    width: 270px;
    height: 30px;
    background-color: #b2dffc;
    border: 0px;
    border-radius: 4px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 27px;
    font-size: 16px;
    padding-top: 3px;
}

.or {
    width: 268px;
    height: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -10px;
}

.line-1 {
    width: 40%;
    height: 1px;
    background-color: #ededed;
    margin-bottom: 5px;
}

.or-text {
    padding: 0px 20px;
    font-weight: bold;
    color: #8e8e8e;
    box-sizing: border-box;
    font-size: 14px;
}

.line-2 {
    width: 40%;
    height: 1px;
    background-color: #ededed;
    margin-bottom: 5px;
}

.facebook {
    height: 19.5px;
    width: 268px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.icon {
    background-image: url(https://static.cdninstagram.com/rsrc.php/v3/y5/r/TJztmXpWTmS.png);
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: -414px -259px;
}

.text-facebook {
    font-weight: bold;
    color: #385185;
    margin-left: 10px;
    margin-top: -3px;
}

.forget {
    width: 100%;
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
}

.sign-up {
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
    height: 63px;
    width: 348px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3b3b3b;
    font-size: 16px;
}

.text-signup > span {
    color: #0095f6;
    font-weight: bold;
    font-size: 16px;
}

.getapp {
    display: flex;
    flex-direction: column;
}

.getapp > p {
    margin: 13px;
    text-align: center;
    font-size: 15px;
}

.app {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.app > img {
    width: 134.283px;
    height: 40px;
}

.apple-store {
    margin-right: 7px;
}

/* Style Footer */

 footer {
    margin-top: 55px;
    height: 20%;
    font-size: 14px;
}

.text-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text-footer > p {
    margin-right: 15px;
    color: #8e8e8e;
    align-self: flex-end;
}

.language {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.language > p {
    margin-right: 15px;
    margin-top: 15px;
    color: #8e8e8e;
    align-self: flex-end;
} 